 #section1 { 
        float: left;  
        padding: 20px;
        color: #FFF; 
        background-image: url('car_index_2.jpg');
        background-repeat: no-repeat;
		background-size:contain;
background-position:center;
    }
    #section1 img {
        height: 100%; 
        width: cover; 
        background-repeat: no-repeat;
    }
	#b { 
        font-family: 'Spartan', sans-serif; font-size: 50px;
        text-align: left; 
    }
	#home-table {
		padding-top: 50%;
	}
	#center {
	  text-align: center;
	}