    #section1 {  
        background-image: url('car_index_2.jpg');
        
    }
	#b { 
        font-family: 'Spartan', sans-serif; font-size: 50px;
        text-align: left; 
    }
	#home-table {
		padding-top: 50%;
	}
	#center {
	  text-align: center;
	}